:root {
    /* CORES */
    --azul: #56CCF2;
    --azul-escuro: #44a3c1;
    --preto-flat: #353535;
    --preto-flat-escuro: #252525;
    /* LOGO */
    --margin-logo: 2vh;
    --size-logo: 30%;
    /* NAVBAR */
    --pading-navbar-link: 3vw;
    --fontsize-navbar-link: 3vw;
    --height-navbar: 10vh;
    --heigh-logo: 20vh;
    /* CONTATO */
    --margin-contato: 10vh;
    --margin-contato-titulo: 5vh;
    --font-size-contato-titulo: 6vw;
    --font-size-contato-subtitulo: 4vw;
    --font-size-contato-conteudo: 3vw;
    --margin-contato-rows: 5vh;
    --size-contato-icone: 5vw;
    --margin-contato-icone: 1vw;
    /* RODAPÉ */
    --padding-rodape: 10vh;
    --font-size-rodape-titulo: 5vw;
    --rodape-size-icone: 5vw;
    --rodape-margin-icone: 3vw;
    --rodape-titulo-padding: 10vh;
    --rodape-text-line-height: 5vh;
    --font-size-rodape-texto: 3vw;
    --font-size-direitos-autorais: 2.5vw;
}

@media (min-width: 768px) {
     :root {
        --size-logo: 30%;
        /* NAVBAR */
        --fontsize-navbar-link: 2.5vw;
        /* CONTATO*/
        --font-size-contato-titulo: 4vw;
        --font-size-contato-subtitulo: 2.5vw;
        --font-size-contato-conteudo: 1.5vw;
        --size-contato-icone: 2vw;
        --margin-contato-icone: 1vw;
        /* RODAPÉ */
        --font-size-rodape-titulo: 3vw;
        --font-size-rodape-texto: 2vw;
        --rodape-size-icone: 3vw;
        --rodape-margin-icone: 0.5vw;
        --rodape-titulo-padding: 8vh;
        --rodape-text-line-height: 5vh;
        --font-size-direitos-autorais: 2vw;
    }
}

@media (min-width: 1360px) {
     :root {
        --size-logo: 20%;
        /* NAVBAR */
        --fontsize-navbar-link: 1.5vw;
        /* CONTATO*/
        --font-size-contato-titulo: 4vw;
        --font-size-contato-subtitulo: 2.5vw;
        --font-size-contato-conteudo: 1.5vw;
        --size-contato-icone: 2vw;
        --margin-contato-icone: 1vw;
        /* RODAPÉ */
        --padding-rodape: 5vh;
        --font-size-rodape-titulo: 2vw;
        --rodape-size-icone: 2vw;
        --rodape-text-line-height: 3vh;
        --font-size-rodape-texto: 1.5vw;
        --rodape-titulo-padding: 0vh;
        --font-size-direitos-autorais: 1.5vw;
    }
}

@media (min-width: 1920px) {
     :root {
        --size-logo: 20%;
        /* NAVBAR */
        --fontsize-navbar-link: 1.2vw;
        /* CONTATO*/
        --font-size-contato-titulo: 3.5vw;
        --font-size-contato-subtitulo: 2vw;
        --font-size-contato-conteudo: 1.2vw;
        --size-contato-icone: 2vw;
        --margin-contato-icone: 1vw;
        /* RODAPÉ */
        --font-size-rodape-titulo: 1.5vw;
        --rodape-size-icone: 1.3vw;
        --rodape-text-line-height: 2vh;
        --font-size-rodape-texto: 1vw;
        --font-size-direitos-autorais: 1vw;
    }
}

@media (orientation: portrait) {
     :root {
        --size-logo: 50%;
        /* NAVBAR */
        --fontsize-navbar-link: 4vw;
        /* CONTATO*/
        --font-size-contato-titulo: 10vw;
        --font-size-contato-subtitulo: 7vw;
        --font-size-contato-conteudo: 5vw;
        --size-contato-icone: 7vw;
        --margin-contato-icone: 2.5vw;
        /* RODAPÉ */
        --padding-rodape: 10vh;
        --font-size-rodape-titulo: 5vw;
        --rodape-size-icone: 5vw;
        --rodape-margin-icone: 2vw;
        --rodape-titulo-padding: 5vh;
        --rodape-text-line-height: 3vh;
        --font-size-rodape-texto: 3.5vw;
        --font-size-direitos-autorais: 3.5vw;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
}

.logo {
    width: 100%;
    margin-bottom: var(--margin-logo);
    margin-top: var(--margin-logo);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: var(--size-logo);
}

.navbar {
    z-index: 10;
    min-height: var(--height-navbar);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.nav-link {
    font-weight: 400 !important;
    font-size: var(--fontsize-navbar-link);
    padding-right: var(--pading-navbar-link) !important;
    padding-left: var(--pading-navbar-link) !important;
    color: var(--azul) !important;
}

.nav-link:hover {
    color: var(--azul-escuro) !important;
}

#contato{
    width: 100%;
    height: 100%;
    margin-top: var(--margin-contato);
}

.contato-titulo{
    text-align: center;
    font-weight: 200;
    font-size: var(--font-size-contato-titulo);
    margin-bottom: var(--margin-contato-titulo);
}

.contato-rows{
    margin-bottom: var(--margin-contato-rows);
}

.contato-rows h2{
    font-size: var(--font-size-contato-subtitulo);
}

.contato-conteudo{
    color: var(--preto-flat);
    font-size: var(--font-size-contato-conteudo);
    text-decoration: none;
    margin-bottom: 100px;
}

.contato-icone{
    color: var(--preto-flat);
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin-left: var(--margin-contato-icone);
    margin-right: var(--margin-contato-icone);
}
.contato-icone svg{
    width: var(--size-contato-icone);
    height: var(--size-contato-icone);
}

.google-maps{
    width: 100%;
    height: 50vh;
}

.google-maps iframe{
    width: 100%;
    height: 100%;
}

#rodape {
    text-align: center;
    padding-top: var(--padding-rodape);
    padding-bottom: var(--padding-rodape);
    background-color: var(--preto-flat);
}

.rodape-titulo {
    color: #fff;
    font-weight: 600;
    font-size: var(--font-size-rodape-titulo);
}

.rodape-link {
    text-decoration: none;
    color: #fff;
    font-size: var(--font-size-rodape-texto);
    transition: .3s ease-in-out;
}

.rodape-link:hover {
    color: var(--azul);
    transition: .3s ease-in-out;
}

.rodape-link svg {
    width: var(--rodape-size-icone);
    height: var(--rodape-size-icone);
    margin-left: var(--rodape-margin-icone);
    margin-right: var(--rodape-margin-icone);
}

.rodape-texto {
    color: #fff;
    line-height: var(--rodape-text-line-height);
    font-size: var(--font-size-rodape-texto);
}

.rodape-titulo-padding {
    padding-top: var(--rodape-titulo-padding);
}

.direitos-autorais {
    background-color: var(--azul);
    text-align: center;
    font-size: var(--font-size-direitos-autorais);
}