:root {
    /* CORES */
    --azul: #6ea8fe;
    --azul-escuro: #0d6efd;
    --preto-flat: #353535;
    /* LOGO */
    --logo-tamanho: 30%;
    --logo-margin: 2vh;
    /* NAVBAR */
    --navbar-link-tamanho-font: 3vw;
    --navbar-altura: 10vh;
    --navbar-link-padding: 3vw;
    /* CONTATO */
    --contato-margin: 10vh;
    --contato-titulo-margin: 5vh;
    --contato-titulo-fonte-tamanho: 6vw;
    --contato-subtitulo-fonte-tamanho: 4vw;
    --contato-conteudo-fonte-tamanho: 3vw;
    --contato-rows-margin: 5vh;
    --contato-icone-tamanho: 5vw;
    --contato-icone-margin: 1vw;
    /* RODAPÉ */
    --rodape-titulo-tamanho-fonte: 5vw;
    --rodape-texto-tamanho-fonte: 3vw;
    --rodape-texto-tamanho-linha: 5vh;
    --rodape-icone-tamanho: 5vw;
    --rodape-icone-margin: 3vw;
    --rodape-titulo-padding: 10vh;
    --rodape-padding: 10vh;
    /* DIREITOS */
    --direitos-autorais-tamanho-texto: 2.5vw;
}

@media (min-width: 768px) {
     :root {
        --logo-tamanho: 30%;
        /* NAVBAR */
        --navbar-link-tamanho-font: 2.5vw;
        /* CONTATO*/
        --contato-titulo-fonte-tamanho: 4vw;
        --contato-subtitulo-fonte-tamanho: 2.5vw;
        --contato-conteudo-fonte-tamanho: 1.5vw;
        --contato-icone-tamanho: 2vw;
        --contato-icone-margin: 1vw;
        /* RODAPÉ */
        --rodape-titulo-tamanho-fonte: 3vw;
        --rodape-texto-tamanho-fonte: 2vw;
        --rodape-icone-tamanho: 3vw;
        --rodape-icone-margin: 0.5vw;
        --rodape-titulo-padding: 8vh;
        --rodape-texto-tamanho-linha: 5vh;
        --direitos-autorais-tamanho-texto: 2vw;
    }
}

@media (min-width: 1360px) {
     :root {
        --logo-tamanho: 20%;
        /* NAVBAR */
        --navbar-link-tamanho-font: 1.5vw;
        /* CONTATO*/
        --contato-titulo-fonte-tamanho: 4vw;
        --contato-subtitulo-fonte-tamanho: 2.5vw;
        --contato-conteudo-fonte-tamanho: 1.5vw;
        --contato-icone-tamanho: 2vw;
        --contato-icone-margin: 1vw;
        /* RODAPÉ */
        --rodape-padding: 5vh;
        --rodape-titulo-tamanho-fonte: 2vw;
        --rodape-icone-tamanho: 2vw;
        --rodape-texto-tamanho-linha: 3vh;
        --rodape-texto-tamanho-fonte: 1.5vw;
        --rodape-titulo-padding: 0vh;
        --direitos-autorais-tamanho-texto: 1.5vw;
    }
}

@media (min-width: 1920px) {
     :root {
        --logo-tamanho: 20%;
        /* NAVBAR */
        --navbar-link-tamanho-font: 1.2vw;
        /* CONTATO*/
        --contato-titulo-fonte-tamanho: 3vw;
        --contato-subtitulo-fonte-tamanho: 2vw;
        --contato-conteudo-fonte-tamanho: 1.2vw;
        --contato-icone-tamanho: 2vw;
        --contato-icone-margin: 1vw;
        /* RODAPÉ */
        --rodape-titulo-tamanho-fonte: 1.5vw;
        --rodape-icone-tamanho: 1.3vw;
        --rodape-texto-tamanho-linha: 2vh;
        --rodape-texto-tamanho-fonte: 1vw;
        --direitos-autorais-tamanho-texto: 1vw;
    }
}

@media (orientation: portrait) {
     :root {
        --logo-tamanho: 50%;
        /* NAVBAR */
        --navbar-link-tamanho-font: 4vw;
        /* CONTATO*/
        --contato-titulo-fonte-tamanho: 10vw;
        --contato-subtitulo-fonte-tamanho: 7vw;
        --contato-conteudo-fonte-tamanho: 5vw;
        --contato-icone-tamanho: 7vw;
        --contato-icone-margin: 2.5vw;
        /* RODAPÉ */
        --rodape-padding: 10vh;
        --rodape-titulo-tamanho-fonte: 5vw;
        --rodape-icone-tamanho: 5vw;
        --rodape-icone-margin: 2vw;
        --rodape-titulo-padding: 5vh;
        --rodape-texto-tamanho-linha: 3vh;
        --rodape-texto-tamanho-fonte: 3.5vw;
        --direitos-autorais-tamanho-texto: 3.5vw;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
}

.logo {
    width: 100%;
    margin-bottom: var(--logo-margin);
    margin-top: var(--logo-margin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: var(--logo-tamanho);
}

.navbar {
    z-index: 10;
    min-height: var(--navbar-altura);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.nav-link {
    font-size: var(--navbar-link-tamanho-font);
    padding-right: var(--navbar-link-padding) !important;
    padding-left: var(--navbar-link-padding) !important;
    color: var(--azul) !important;
}

.nav-link:hover {
    color: var(--azul-escuro) !important;
}

#contato{
    width: 100%;
    height: 100%;
    margin-top: var(--contato-margin);
}

.contato-titulo{
    text-align: center;
    font-weight: 200;
    font-size: var(--contato-titulo-fonte-tamanho);
    margin-bottom: var(--contato-titulo-margin);
}

.contato-rows{
    margin-bottom: var(--contato-rows-margin);
}

.contato-rows h2{
    font-size: var(--contato-subtitulo-fonte-tamanho);
}

.contato-conteudo{
    color: var(--preto-flat);
    font-size: var(--contato-conteudo-fonte-tamanho);
    text-decoration: none;
    margin-bottom: 100px;
}

.contato-icone{
    color: var(--preto-flat);
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin-left: var(--contato-icone-margin);
    margin-right: var(--contato-icone-margin);
}
.contato-icone svg{
    width: var(--contato-icone-tamanho);
    height: var(--contato-icone-tamanho);
}

.google-maps{
    width: 100%;
    height: 50vh;
}

.google-maps iframe{
    width: 100%;
    height: 100%;
}

#rodape {
    text-align: center;
    padding-top: var(--rodape-padding);
    padding-bottom: var(--rodape-padding);
    background-color: var(--preto-flat);
}

.rodape-titulo {
    color: #fff;
    font-weight: 600;
    font-size: var(--rodape-titulo-tamanho-fonte);
}

.rodape-link {
    text-decoration: none;
    color: #fff;
    font-size: var(--rodape-texto-tamanho-fonte);
    transition: .3s ease-in-out;
}

.rodape-link:hover {
    color: var(--azul);
    transition: .3s ease-in-out;
}

.rodape-link svg {
    width: var(--rodape-icone-tamanho);
    height: var(--rodape-icone-tamanho);
    margin-left: var(--rodape-icone-margin);
    margin-right: var(--rodape-icone-margin);
}

.rodape-texto {
    color: #fff;
    line-height: var(--rodape-texto-tamanho-linha);
    font-size: var(--rodape-texto-tamanho-fonte);
}

.rodape-titulo-padding {
    padding-top: var(--rodape-titulo-padding);
}

.direitos-autorais {
    background-color: var(--azul);
    text-align: center;
    font-size: var(--direitos-autorais-tamanho-texto);
}