:root {
    /* CORES */
    --azul: #6ea8fe;
    --azul-escuro: #0d6efd;
    --preto-flat: #353535;
    /* LOGO */
    --logo-tamanho: 30%;
    --logo-margin: 2vh;
    /* NAVBAR */
    --navbar-link-tamanho-font: 3vw;
    --navbar-altura: 10vh;
    --navbar-link-padding: 3vw;
    /* CAROUSEL */
    --carrosel-titulo-fonte-tamanho: 10vw;
    --carrosel-subtitulo-fonte-tamanho: 3vw;
    /* NOVIDADES */
    --novidades-titulo-tamanho-fonte: 8vw;
    --novidades-titulo-margin: 10vh;
    /* INFORMAÇOES */
    --informacoes-texto-fonte-tamanho: 4vw;
    --informacoes-icone-tamanho: 10vw;
    --informacoes-padding: 10vh;
    --informacoes-margin: 5vh;
    --informacoes-icone-margin-bottom: 2vh;
    --informacoes-item-margin: 10vh;
    /* RODAPÉ */
    --rodape-titulo-tamanho-fonte: 5vw;
    --rodape-texto-tamanho-fonte: 3vw;
    --rodape-texto-tamanho-linha: 5vh;
    --rodape-icone-tamanho: 5vw;
    --rodape-icone-margin: 3vw;
    --rodape-titulo-padding: 10vh;
    --rodape-padding: 10vh;
    /* DIREITOS */
    --direitos-autorais-tamanho-texto: 2.5vw;
}

@media (min-width: 768px) {
    :root {
        --logo-tamanho: 30%;
        /* NAVBAR */
        --navbar-link-tamanho-font: 2.5vw;
        /* CAROUSEL */
        --carrosel-titulo-fonte-tamanho: 10vw;
        --carrosel-subtitulo-fonte-tamanho: 3vw;
        /* NOVIDADES */
        --novidades-titulo-margin: 8vh;
        --novidades-titulo-tamanho-fonte: 5vw;
        /* INFORMAÇOES */
        --informacoes-texto-fonte-tamanho: 2vw;
        --informacoes-icone-tamanho: 8vw;
        --informacoes-item-margin: 0vh;
        /* RODAPÉ */
        --rodape-titulo-tamanho-fonte: 3vw;
        --rodape-texto-tamanho-fonte: 2vw;
        --rodape-icone-tamanho: 3vw;
        --rodape-icone-margin: 0.5vw;
        --rodape-titulo-padding: 8vh;
        --rodape-texto-tamanho-linha: 5vh;
        --direitos-autorais-tamanho-texto: 2vw;
    }
}

@media (min-width: 1360px) {
    :root {
        --logo-tamanho: 20%;
        /* NAVBAR */
        --navbar-link-tamanho-font: 1.5vw;
        /* CAROUSEL */
        --carrosel-titulo-fonte-tamanho: 7vw;
        --carrosel-subtitulo-fonte-tamanho: 3vw;
        /* NOVIDADES */
        --novidades-titulo-margin: 5vh;
        --novidades-titulo-tamanho-fonte: 5vw;
        /* INFORMAÇOES */
        --informacoes-padding: 5vh;
        --informacoes-texto-fonte-tamanho: 2vw;
        --informacoes-icone-tamanho: 6vw;
        /* RODAPÉ */
        --rodape-padding: 5vh;
        --rodape-titulo-tamanho-fonte: 2vw;
        --rodape-icone-tamanho: 2vw;
        --rodape-texto-tamanho-linha: 3vh;
        --rodape-texto-tamanho-fonte: 1.5vw;
        --rodape-titulo-padding: 0vh;
        --direitos-autorais-tamanho-texto: 1.5vw;
    }
}

@media (min-width: 1920px) {
    :root {
        --logo-tamanho: 20%;
        /* NAVBAR */
        --navbar-link-tamanho-font: 1.2vw;
        /* CAROUSEL */
        --carrosel-titulo-fonte-tamanho: 5vw;
        --carrosel-subtitulo-fonte-tamanho: 1.5vw;
        /* NOVIDADES */
        --novidades-titulo-tamanho-fonte: 3vw;
        /* INFORMAÇOES */
        --informacoes-texto-fonte-tamanho: 1.5vw;
        --informacoes-icone-tamanho: 4vw;
        --informacoes-item-margin: 0vh;
        /* RODAPÉ */
        --rodape-titulo-tamanho-fonte: 1.5vw;
        --rodape-icone-tamanho: 1.3vw;
        --rodape-texto-tamanho-linha: 2vh;
        --rodape-texto-tamanho-fonte: 1vw;
        --direitos-autorais-tamanho-texto: 1vw;
    }
}

@media (orientation: portrait) {
    :root {
        --logo-tamanho: 50%;
        /* NAVBAR */
        --navbar-link-tamanho-font: 4vw;
        /* CAROUSEL */
        --carrosel-titulo-fonte-tamanho: 15vw;
        --carrosel-subtitulo-fonte-tamanho: 5vw;
        /* NOVIDADES */
        --novidades-titulo-margin: 5vh;
        --novidades-titulo-tamanho-fonte: 10vw;
        /* INFORMAÇOES */
        --informacoes-padding: 10vh;
        --informacoes-texto-fonte-tamanho: 5vw;
        --informacoes-icone-tamanho: 15vw;
        --informacoes-item-margin: 5vh;
        /* RODAPÉ */
        --rodape-padding: 10vh;
        --rodape-titulo-tamanho-fonte: 5vw;
        --rodape-icone-tamanho: 5vw;
        --rodape-icone-margin: 2vw;
        --rodape-titulo-padding: 5vh;
        --rodape-texto-tamanho-linha: 3vh;
        --rodape-texto-tamanho-fonte: 3.5vw;
        --direitos-autorais-tamanho-texto: 3.5vw;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
}

#home {
    min-height: 100vh;
}

.logo {
    width: 100%;
    margin-bottom: var(--logo-margin);
    margin-top: var(--logo-margin);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: var(--logo-tamanho);
}

.navbar {
    z-index: 10;
    min-height: var(--navbar-altura);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.nav-link {
    font-size: var(--navbar-link-tamanho-font);
    padding-right: var(--navbar-link-padding) !important;
    padding-left: var(--navbar-link-padding) !important;
    color: var(--azul) !important;
}

.nav-link:hover {
    color: var(--azul-escuro) !important;
}

.carousel-item {
    height: 70vh !important;
}

.carrosel-imagem {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.carrosel {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.carousel-caption {
    top: 50%;
    transform: translate(0, -50%);
    bottom: inherit !important;
}

.carousel-caption h5 {
    font-size: var(--carrosel-titulo-fonte-tamanho);
}

.carousel-caption p {
    font-size: var(--carrosel-subtitulo-fonte-tamanho);
}

.novidades-titulo {
    text-align: center;
    font-weight: 200;
    color: var(--preto-flat);
    font-size: var(--novidades-titulo-tamanho-fonte);
    margin-top: var(--novidades-titulo-margin);
    margin-bottom: var(--novidades-titulo-margin);
}

.card-link {
    text-decoration: none;
}

.card {
    transition: .3s ease-in-out;
}

.card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    transition: .3s ease-in-out;
}

.card-title,
.card-title:visited {
    color: var(--preto-flat);
}

.card-price,
.card-link:visited {
    color: var(--azul);
    transition: .3s ease-in-out;
}

.card-link:hover .card-price {
    color: var(--azul-escuro);
    transition: .3s ease-in-out;
}

#informacoes {
    background-image: url(../images/image4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: var(--informacoes-margin);
    padding-top: var(--informacoes-padding);
    padding-bottom: var(--informacoes-padding);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.icone {
    text-align: center;
}

.icone svg {
    height: var(--informacoes-icone-tamanho);
    width: var(--informacoes-icone-tamanho);
    color: var(--azul);
    margin-bottom: var(--informacoes-icone-margin-bottom);
}

.icone p {
    color: #fff;
    font-weight: 600;
    font-size: var(--informacoes-texto-fonte-tamanho);
}

.informacoes-item-margin {
    margin-top: var(--informacoes-item-margin);
    margin-bottom: var(--informacoes-item-margin);
}

#rodape {
    text-align: center;
    padding-top: var(--rodape-padding);
    padding-bottom: var(--rodape-padding);
    background-color: var(--preto-flat);
}

.rodape-titulo {
    color: #fff;
    font-weight: 600;
    font-size: var(--rodape-titulo-tamanho-fonte);
}

.rodape-link {
    text-decoration: none;
    color: #fff;
    font-size: var(--rodape-texto-tamanho-fonte);
    transition: .3s ease-in-out;
}

.rodape-link:hover {
    color: var(--azul);
    transition: .3s ease-in-out;
}

.rodape-link svg {
    width: var(--rodape-icone-tamanho);
    height: var(--rodape-icone-tamanho);
    margin-left: var(--rodape-icone-margin);
    margin-right: var(--rodape-icone-margin);
}

.rodape-texto {
    color: #fff;
    line-height: var(--rodape-texto-tamanho-linha);
    font-size: var(--rodape-texto-tamanho-fonte);
}

.rodape-titulo-padding {
    padding-top: var(--rodape-titulo-padding);
}

.direitos-autorais {
    background-color: var(--azul);
    text-align: center;
    font-size: var(--direitos-autorais-tamanho-texto);
}