:root {
    /* CORES */
    --azul: #6ea8fe;
    --azul-escuro: #0d6efd;
    --preto-flat: #353535;
    /* LOGO */
    --logo-tamanho: 20%;
    --logo-padding: 2vh;
    /* NAVBAR */
    --navbar-link-tamanho-font: 3vw;
    --navbar-altura: 10vh;
    --navbar-link-padding: 3vw;
    /* PRODUTOS */
    --produtos-margin: 10vh;
    --produtos-titulo: 6vw;
    --menu-margin:  3vh;
    /* RODAPÉ */
    --rodape-titulo-tamanho-fonte: 5vw;
    --rodape-texto-tamanho-fonte: 3vw;
    --rodape-texto-tamanho-linha: 5vh;
    --rodape-icone-tamanho: 5vw;
    --rodape-icone-margin: 3vw;
    --rodape-titulo-padding: 10vh;
    --rodape-padding: 10vh;
    /* DIREITOS */
    --direitos-autorais-tamanho-texto: 2.5vw;
}

@media (min-width: 768px) {
     :root {
        --logo-tamanho: 25%;
        /* NAVBAR */
        --navbar-link-tamanho-font: 2.5vw;
        /* PRODUTOS */
        --produtos-titulo: 4vw;
        /* RODAPÉ */
        --rodape-titulo-tamanho-fonte: 3vw;
        --rodape-texto-tamanho-fonte: 2vw;
        --rodape-icone-tamanho: 3vw;
        --rodape-icone-margin: 0.5vw;
        --rodape-titulo-padding: 8vh;
        --rodape-texto-tamanho-linha: 5vh;
        --direitos-autorais-tamanho-texto: 2vw;
    }
}

@media (min-width: 1360px) {
     :root {
        --logo-tamanho: 20%;
        /* NAVBAR */
        --navbar-link-tamanho-font: 1.5vw;
        /* PRODUTOS */
        --produtos-titulo: 4vw;
        /* RODAPÉ */
        --rodape-padding: 5vh;
        --rodape-titulo-tamanho-fonte: 2vw;
        --rodape-icone-tamanho: 2vw;
        --rodape-texto-tamanho-linha: 3vh;
        --rodape-texto-tamanho-fonte: 1.5vw;
        --rodape-titulo-padding: 0vh;
        --direitos-autorais-tamanho-texto: 1.5vw;
    }
}

@media (min-width: 1920px) {
     :root {
        --logo-tamanho: 10%;
        /* NAVBAR */
        --navbar-link-tamanho-font: 1.2vw;
        /* PRODUTOS */
        --produtos-titulo: 3vw;
        /* RODAPÉ */
        --rodape-titulo-tamanho-fonte: 1.5vw;
        --rodape-icone-tamanho: 1.3vw;
        --rodape-texto-tamanho-linha: 2vh;
        --rodape-texto-tamanho-fonte: 1vw;
        --direitos-autorais-tamanho-texto: 1vw;
    }
}

@media (orientation: portrait) {
     :root {
        --logo-tamanho: 40%;
        /* NAVBAR */
        --navbar-link-tamanho-font: 4vw;
        /* PRODUTOS */
        --produtos-titulo: 10vw;
        /* RODAPÉ */
        --rodape-padding: 10vh;
        --rodape-titulo-tamanho-fonte: 5vw;
        --rodape-icone-tamanho: 5vw;
        --rodape-icone-margin: 2vw;
        --rodape-titulo-padding: 5vh;
        --rodape-texto-tamanho-linha: 3vh;
        --rodape-texto-tamanho-fonte: 3.5vw;
        --direitos-autorais-tamanho-texto: 3.5vw;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Raleway", sans-serif;
}

.logo {
    width: 100%;
    padding-top: var(--logo-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.logo img {
    width: var(--logo-tamanho);
}

.navbar {
    z-index: 10;
    min-height: var(--navbar-altura);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.nav-link {
    font-size: var(--navbar-link-tamanho-font);
    padding-right: var(--navbar-link-padding) !important;
    padding-left: var(--navbar-link-padding) !important;
    color: var(--azul) !important;
}

.nav-link:hover {
    color: var(--azul-escuro) !important;
}

#produtos {
    margin-top: var(--produtos-margin);
    margin-bottom: var(--produtos-margin);
}
#produtos h1 {
    text-align: center;
    font-weight: 200;
    font-size: var(--produtos-titulo);
    margin-bottom: var(--produtos-margin);
}

.produtos-preco{
    color: var(--azul) !important;
}

.menu-produtos{
    margin-bottom: var(--menu-margin);
}

#rodape {
    text-align: center;
    padding-top: var(--rodape-padding);
    padding-bottom: var(--rodape-padding);
    background-color: var(--preto-flat);
}

.rodape-titulo {
    color: #fff;
    font-weight: 600;
    font-size: var(--rodape-titulo-tamanho-fonte);
}

.rodape-link {
    text-decoration: none;
    color: #fff;
    font-size: var(--rodape-texto-tamanho-fonte);
    transition: .3s ease-in-out;
}

.rodape-link:hover {
    color: var(--azul);
    transition: .3s ease-in-out;
}

.rodape-link svg {
    width: var(--rodape-icone-tamanho);
    height: var(--rodape-icone-tamanho);
    margin-left: var(--rodape-icone-margin);
    margin-right: var(--rodape-icone-margin);
}

.rodape-texto {
    color: #fff;
    line-height: var(--rodape-texto-tamanho-linha);
    font-size: var(--rodape-texto-tamanho-fonte);
}

.rodape-titulo-padding {
    padding-top: var(--rodape-titulo-padding);
}

.direitos-autorais {
    background-color: var(--azul);
    text-align: center;
    font-size: var(--direitos-autorais-tamanho-texto);
}